html {
  scroll-behavior: smooth;
}

body {
  font-family: $inter;
  font-size: 14px;
  font-weight: 400;
}

a {
  transition: all 0.2s ease-in;

  &:hover {
    opacity: 0.5;
  }
}

.btn {
  display: block;
  padding: 17px 0;
  border-radius: 6px;
  border: 2px solid $red;
  width: 172px;
  text-align: center;
  font-weight: 600;
  line-height: 19.2px;

  @media (max-width: 700px) {
    font-size: 12px;
    padding: 12px 0;
    width: 157px;
  }
}
.btn-fill {
  background-color: $red;
  color: $white;
}
.btn-transparent {
  color: $red;
}

.swiper {
  width: 720px;
  height: 100%;

  @media (min-width: 1080px) and (max-width: 1600px) {
    width: 540px;
  }

  @media (max-width: 700px) {
    width: 500px;
  }

  @media (max-width: 460px) {
    width: 350px;
  }
}

.promo__wrap {
  background: url('./../img/bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 50%);

  @media (min-width: 1990px) {
    &::after {
      content: 'Спецпредложение';
      position: absolute;
      display: inline-block;
      top: 0;
      right: 0;
      font-size: 16px;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      color: $white;
      padding: 10px 10px 10px 40px;
      text-align: right;
      width: 250px;
      height: 50px;
      background: url('./../../img/bg-red.svg');
      background-repeat: no-repeat;
      object-fit: contain;
    }
  }

  


  

  @media (max-width: 1080px) {
    grid-template-columns: 100%;
    background: $white;
  }
}
