@import url('https://fonts.googleapis.com/css2?family=Glory:wght@500;700&family=Inter:wght@300;400;500;600;700&display=swap');

$white: #fff;
$black: #000;
$red: #A30040;
$blue: #293775;
$gray: #8B8B8B;

$inter: 'Inter', sans-serif;
$glory: 'Glory', sans-serif;