.promo__slider {
  width: 780px;
  height: 429px;
  position: relative;
  justify-self: end;

  &::after {
    content: 'Спецпредложение';
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    font-size: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: $white;
    padding: 10px 10px 10px 40px;
    text-align: right;
    width: 250px;
    height: 50px;
    background: url('./../../img/bg-red.svg');
    background-repeat: no-repeat;
    object-fit: contain;

    @media (max-width: 1080px) {
      font-size: 16px;
    }

    @media (min-width: 1990px) {
      display: none;
    }
  }

  @media (min-width: 1990px) {
    justify-self: center;
  }

  @media (min-width: 1080px) and (max-width: 1600px) {
      width: 550px;
    }

  @media (max-width: 1080px) {
    width: 100%;
    justify-self: center;
    background-image: linear-gradient(110deg, $blue 45%, $white 45%);
  }

  @media (max-width: 700px) {
    background-image: linear-gradient(110deg, $blue 70%, $white 70%);
  }
}

.slide {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 720px;
  padding-top: 25px;

  @media (min-width: 1080px) and (max-width: 1600px) {
    width: 550px;
  }

  @media (max-width: 700px) {
    padding-top: 55px;
    width: 500px;
    justify-content: space-around;
  }

  @media (max-width: 460px) {
    width: 350px;
  }
}

.description {
  text-align: center;
  color: $white;
  min-width: 190px;
}

.description__title {
  font-family: $inter;
  font-size: 32px;
  font-weight: 500;
  line-height: 35px;

  span {
    font-size: 16px;

    @media (max-width: 1080px) {
      font-size: 12px;
    }
  }

  @media (max-width: 1080px) {
    font-size: 20px;
    line-height: 20px;
  }
}

.description__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 11.8px;
  font-weight: 300;
  margin-top: 20px;
  list-style: none;
}

.description__price {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 500;
  line-height: 38.4px;
  margin-top: 10px;
  span {
    color: $gray;
    font-size: 18px;
    font-weight: 300;
    line-height: 24.96px;
    text-decoration: line-through;
    @media (max-width: 1080px) {
      font-size: 12px;
    }
  }

  @media (max-width: 1080px) {
    font-size: 20px;
  }
}

.slide__img {
  padding: 0 30px;

  @media (max-width: 1622px) {
    padding-left: 120px;
    padding-right: 0;
  }
  @media (max-width: 1300px) {
    padding-left: 50px;
  }
  @media (max-width: 1160px) {
    padding-left: 10px;
  }

  @media (max-width: 1080px) {
    padding: 0 30px;
  }

  @media (max-width: 700px) {
    height: 350px;
  }

  @media (max-width: 470px) {
    padding: 0;
  }
}

.slide__set {
  min-width: 230px;
  color: $blue;
  list-style: disc inside;
  font-size: 16px;
  font-weight: 300;

  li {
    margin-top: 20px;
  }

  @media (max-width: 1622px) {
    display: none;
  }

  @media (max-width: 1080px) {
    display: block;
    font-size: 14px;
  }

  @media (max-width: 700px) {
    display: none;
  }
}

.swiper-slide {
  -webkit-animation: tilt-in-fwd-tr 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-fwd-tr 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-8-4 14:47:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-fwd-tr
 * ----------------------------------------
 */
 @-webkit-keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
            transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
            transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
